doctype html
html

    head
        meta(charset="utf-8")
        meta(id="VP" name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        title Заказ товара BATTERY TEAM - Тула
        link(href="css/font.css" rel="stylesheet" type="text/css")
        link(href="css/style.min.css" rel="stylesheet" type="text/css")
        link(href="css/product.css" rel="stylesheet" type="text/css")
        link(href="css/hm-style.min.css" rel="stylesheet" type="text/css")
        link(href="css/pagination.css" rel="stylesheet" type="text/css")
        link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
        script(src="js/mainClient.js")
        script(src="js/jquery.min.js")
        script(src="js/simplePagination.js")
        script(src="https://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js")


    body.hm
        div#content
            header
                div#header
                    div#logo.logo
                        h1

                            a(href="http://www.bteam.ru/") BATTERY TEAM
                        h3
                            a(href="http://www.bteam.ru/") Тульский Региональный Филиал

                    if(isLoged)
                        div.loginForm
                            form(action="/logout:main" method="POST" id="loginForm")
                                h3 Добро пожаловать, #{name}
                                button(type="submit") Выйти
                    else
                        div.loginForm
                            form(action="/login:main" method="POST" id="loginForm")
                                h2 Вход
                                input(name="username" placeholder="Имя пользователья")
                                input(name="password" placeholder="Пароль")
                                button(type="submit") Войти
            div(style='clear:both')
                hr.line
            div.topMenu
                a(href="/main").catMainPage На главную
                img(src='images/mobile.png')#mobMenu.mobile
                div.dataS
                    form(action="/searchData" method="POST" id="dataSearch")
                        input.clearable(name="searchD"  placeholder="Поиск товаров")
                        select#chooseSort(size="0")
                            option(disabled) Сортировка
                            option(value="0") По умолчанию
                            option(value="1") По алфавиту
                            option(value="2") По цене (по возрастанию)
                            option(value="3") По цене (по убыванию)
                a.wrapImg(href="/corzina")
                    img(src='images/corzina.png').corzina



            div.categor-wrapper-fix
                div#categor-wrapper
                    div#categor



            ul#PR.products.clearfix


            div#light-pagination.pagination





