extends layout

block content

    form(action="/registrate" method="post" id="registerForm")
        h1 Please registrate
        .form-group
            label(for="email") Email
            input.form-control(type="email" id="email" name="email" placeholder="Введите email" required autofocus)
        .form-group
            label(for="password1") Password
            input.form-control(type="password" id="password1" name="password1" placeholder="Введите пароль" required)
            label(for="password2") Password
            input.form-control(type="password" id="password2" name="password2" placeholder="Повторите пароль" required)

        button.btn.btn-lg.btn-primary.btn-block(type="submit") Registrate
